// Badges
span.badge {
	min-width: 3rem;

	margin-left: 14px;
	text-align: center;
	font-size: 1rem;
	line-height: $badge-height;
	height: $badge-height;
	color: color('grey', 'darken-1');
	float: right;
	box-sizing: border-box;
	color:white;
	background-color: darken($badge-bg-color, 15%);

	&.new {
		font-weight: 300;
		font-size: 0.8rem;
		color: #fff;
		background-color: $badge-bg-color;
		border-radius: 2px;
	}
	&.new:after {
		content: " new";
	}

	&[badgeText]::after {
		content: " " attr(badgeText);
	}
}
nav ul a span.badge {
	display: inline-block;
	float: none;
	border-radius:8px;
	margin-left: 4px;
	line-height: $badge-height;
	height: $badge-height;
}
