// Badges
span.badge {
	min-width: 1rem;
	font-weight: 300;
	text-align: center;
	font-size: 0.8rem;
	line-height: $badge-height;
	height: $badge-height;
	color: color('grey', 'darken-1');
	float: right;
	box-sizing: border-box;
	color:white;
	background-color: $badge-bg-color;
	border-radius: 2px;
	color: #fff;

	&[badgeText]::after {
		content: " " attr(badgeText);
	}
}
nav ul a span.badge {
	display: inline-block;
	float: none;

}
